* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    color: white;
}

.navbar {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu_ul {
    display: flex;
    justify-content: space-between;
}

.menu_ul li a {
    text-decoration: none;
    color: white;
}